<!-- index.html -->
<!doctype html>
<html lang="ko">
<head>
    <title>홈서비스</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
	<!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
	
	<!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script-->
</head>
<body class="ml-3 mr-3">

<div class="container mt-3">
	<div><h1>홈 서비스</h1></div>

	<div class="row mt-3">
		<div><h3>상태</h3></div>
	</div>
	<div class="row">
		<div class="col-6"><h3 id="percent">- %</h3></div>
		<div class="col-6"><h3 id="temp">- &deg;C</h3></div>
	</div>

	<div class="row mt-3">
		<div><h3>방송</h3></div>
	</div>
    <div class="row">
        <div class="col-12">
            <form class="row" method="POST" action="{{ url_for('result') }}">
                <div class="col-9">
                    <input autofocus class="form-control" placeholder="코드를 입력하세요" type="text" name="text" >
                </div>
                <div class="col-3">
                    <button type="submit" value="확인" type="submit" class="btn btn-primary btn-block">확인</button>
                </div>
            </form>
        </div>
    </div>

	<div class="row mt-3">
		<div><h3>용돈</h3></div>
	</div>
	<div class="row">
		<div class="col-2"><h2>1,700</h2></div>
		<div class="col-10 text-right">
			<button class="btn btn-primary ">초기화</button>
			<button class="btn btn-primary ">1,000원</button>
			<button class="btn btn-primary ">100원</button>
		</div>
	</div>

</div>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 zextor Inc</p>
  </footer>
</div>

  <script>
	setInterval(function() {
		fetch('/temp')
			.then(response => response.text())
			.then(data => {
				document.getElementById('temp').innerHTML = `${data} &deg;C`;
			});
	}, 1000);


	setInterval(function() {
		fetch('/percent')
			.then(response => response.text())
			.then(data => {
				document.getElementById('percent').innerHTML = `${data}%`;
			});
	}, 1000);
  </script>

</body>
</html>